#imgTop
{
    height:30em!important;
    max-height:30em!important;
}

#title
{
    text-align:center;
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    color: #FFFFFF;
    font-size:5vw;
}

.titre
{
    color:white;
    font-size:3vw;
    height:20vh!important;
    max-height:20vh!important;
    text-shadow: 3px 5px 2px #474747;

}

.titreDiv
{
    height:20vh!important;
    max-height:20vh!important;
}
#titre1
{
    background-image: url("https://battapps.ch/wp-content/uploads/2020/11/mhqis22m2kw-1-scaled.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#titre2
{
    background-image: url("https://battapps.ch/wp-content/uploads/2020/11/ew04ronvhlg-scaled.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#titre3
{
    background-image: url("https://battapps.ch/wp-content/uploads/2020/11/dmdyx_lti48-2-scaled.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.chiffre
{
    color:white;
    position:relative;
    top:-10vh;
    font-weight: bolder;
    font-size: 5vh;
}